.sub-jobs-container {
    .sub-jobs-filter-bar {
        padding: 20px;
        background-color: #f9f9f9;
        border-bottom: 1px solid #d1d9e0;
        margin-bottom: 20px;

        .sub-jobs-status-filter {
            max-width: 250px;
        }
    }
    .sw-data-grid {
        position: relative;
        .sw-data-grid__cell {
            .sw-data-grid__cell-content {
                display: flex;
                align-items: center;
            }
        }

        .message-counters-container {
            display: flex;
            align-items: center;
            gap: 20px;

            .count-container {
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
    }
    
    /* Sub jobs columns */
    .sw-data-grid__cell--messages,
    .sw-data-grid__cell--subJobs {
        .sw-data-grid__cell-content {
            position: relative;
            overflow: hidden;

            &:hover {
                .has-messages,
                .has-subjobs {
                    display: none;
                }
                .job-messages-show-modal,
                .sub-job-show-modal {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                }
            }

            .job-messages-show-modal,
            .sub-job-show-modal {
                display: none;
                margin: 0 auto;
                .sw-icon {
                    margin-right: 10px;
                }
            }
        }
    }
}