{% block job_detail_page %}
    <sw-page v-if="jobId" class="sw-order-detail">
        {% block sw_order_detail_header %}
            <template #smart-bar-header>

                {% block sw_order_detail_header_title %}
                    <h2 v-if="jobIdentifier">
                        {{ $tc('job-listing.page.detail.textHeadline') }} {{ jobIdentifier }}

{#                        {% block sw_order_detail_header_label_manual_order %}#}
{#                            <sw-label#}
{#                                    v-if="createdById"#}
{#                                    appearance="pill"#}
{#                                    size="small"#}
{#                                    class="sw-order-detail__manual-order-label"#}
{#                            >#}
{#                                {{ $tc('sw-order.detail.labelManualOrder') }}#}
{#                            </sw-label>#}
{#                        {% endblock %}#}
                    </h2>
                {% endblock %}

{#                {% block sw_order_detail_header_title_new %}#}
{#                    <h2 v-else>#}
{#                        {{ $tc('sw-order.detail.textHeadlineNew') }}#}
{#                    </h2>#}
{#                {% endblock %}#}

            </template>
        {% endblock %}
    </sw-page>
{% endblock %}