{% block job_listing_page %}
    <sw-page class="swag-example-list">
        <template slot="content">
            <sw-entity-listing
                    v-if="result"
                    :items="result"
                    :repository="repository"
                    :showSelection="false"
                    :allowColumnEdit="false"
                    :allowDelete="false"
                    :allowEdit="false"
                    :columns="columns"><h2>Hello</h2>
{#                <template #actions="{ item }">#}
{#                    <sw-context-menu-item @click="refreshPageDetails(item)">#}
{#                        {{ $tc('styla-cms-integration-plugin.actions.refresh-page-details.button.label') }}#}
{#                    </sw-context-menu-item>#}
{#                </template>#}

{#                <template v-slot:column-path="{item, column, url}">#}
{#                    <a v-bind:href="computePathLink(item)" v-if="computePathLink(item)" target="_blank"> {{ computePathLink(item) }} </a>#}
{#                    <span v-else>{{ item.path }}</span>#}
{#                </template>#}
            </sw-entity-listing>
        </template>
    </sw-page>
{% endblock %}