{% block job_detail_page %}
    <sw-page v-if="jobId" class="sw-order-detail">
        {% block job_detail_header %}
            <template #smart-bar-header>
                {% block job_detail_header_title %}
                    <h2>
                        {{ jobItem.name }}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        {% block job_detail_actions_reschedule %}
            <template #smart-bar-actions>
                <sw-button
                        :disabled="disableRescheduling(jobItem)"
                        @click="rescheduleJob"
                        class="sw-order-detail__smart-bar-edit-button"
                        variant="primary"
                >
                    {{ $tc('job-listing.actions.reschedule-job.button.label') }}
                </sw-button>
            </template>
        {% endblock %}
        {% block job_detail_content %}
            <template #content>
                <sw-card :title="$tc('job-listing.page.detail.textHeadline')">
                    {% block job_row_primary %}
                        <sw-card-section divider="bottom">
                            {% block job_detail_base_overview_columns %}
                                <sw-container
                                        columns="repeat(auto-fit, minmax(250px, 1fr))"
                                        gap="30px 30px">
                                    {% block job_detail_base_overview_left_column %}
                                        <sw-description-list
                                                columns="1fr"
                                                grid="1fr">
                                            {% block job_detail_base_overview_name %}
                                                <dt>{{ $tc('job-listing.page.listing.grid.column.name') }}</dt>
                                                <dd>
                                                    <sw-order-inline-field :display-value="jobItem.name"
                                                                           :value="jobItem.name" :editable="false"
                                                    />
                                                </dd>
                                            {% endblock %}
                                            {% block job_detail_base_overview_status %}
                                                <dt>{{ $tc('job-listing.page.listing.grid.column.status') }}</dt>
                                                <dd>
                                                    <sw-order-inline-field :display-value="jobItem.status"
                                                                           :value="jobItem.status" :editable="false"
                                                    />
                                                </dd>
                                            {% endblock %}
                                            {% block job_detail_base_overview_startedAt %}
                                                <dt>{{ $tc('job-listing.page.listing.grid.column.started-at') }}</dt>
                                                <dd>
                                                    <sw-order-inline-field :display-value="jobItem.startedAt"
                                                                           :value="jobItem.startedAt" :editable="false"
                                                    />
                                                </dd>
                                            {% endblock %}
                                        </sw-description-list>
                                    {% endblock %}
                                    {% block sw_order_detail_base_order_overview_right_column %}
                                        <sw-description-list
                                                columns="1fr"
                                                grid="1fr" class="sw-order-user-card__summary-vertical">
                                            {% block job_detail_base_overview_type %}
                                                <dt>{{ $tc('job-listing.page.listing.grid.column.type') }}</dt>
                                                <dd>
                                                    <sw-order-inline-field :display-value="jobItem.type"
                                                                           :value="jobItem.type" :editable="false"
                                                    />
                                                </dd>
                                            {% endblock %}
                                            {% block job_detail_base_overview_createdAt %}
                                                <dt>{{ $tc('job-listing.page.listing.grid.column.created-at') }}</dt>
                                                <dd>
                                                    <sw-order-inline-field :display-value="jobItem.createdAt"
                                                                           :value="jobItem.startedAt"
                                                                           :editable="false"/>
                                                </dd>
                                            {% endblock %}
                                            {% block job_detail_base_overview_finishedAt %}
                                                <dt>{{ $tc('job-listing.page.listing.grid.column.finished-at') }}</dt>
                                                <dd>
                                                    <sw-order-inline-field :display-value="jobItem.finishedAt"
                                                                           :value="jobItem.finishedAt"
                                                                           :editable="false"/>
                                                </dd>
                                            {% endblock %}
                                        </sw-description-list>
                                    {% endblock %}
                                </sw-container>
                            {% endblock %}
                        </sw-card-section>
                    {% endblock %}
                </sw-card>
                <sw-card v-if="(jobChildren && jobChildren.total > 0)"
                         :title="$tc('job-listing.page.detail.jobChildrenTitle')">
                    {% block job_children_listing %}
                        <sw-data-grid
                                v-if="jobChildren"
                                :items="jobChildren"
                                :data-source="jobChildren"
                                :repository="jobRepository"
                                :showSelection="false"
                                :allowColumnEdit="false"
                                :allowDelete="false"
                                :allowEdit="false"
                                :columns="jobChildrenColumns">
                            <template #column-name="{ item }">
                                {% block job_list_grid_job_name_link %}
                                    <router-link :to="{ name: 'job.listing.detail', params: { id: item.id } }">
                                        {{ item.name }}
                                    </router-link>
                                {% endblock %}
                            </template>
                            <template #actions="{ item }">
                                <sw-context-menu-item :disabled="disableRescheduling(item)"
                                                      @click="rescheduleJob">
                                    {{ $tc('job-listing.actions.reschedule-job.button.label') }}
                                </sw-context-menu-item>
                            </template>
                        </sw-data-grid>
                    {% endblock %}
                </sw-card>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
